<<<<<<< HEAD
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #058e39;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  header p {
    margin-top: 5px;
    font-style: italic;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  caption {
    background-color: #e3f2fd;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  thead th {
    background-color: #067b29;
    color: white;
    padding: 12px;
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tfoot td {
    background-color: #eeeeee;
    font-weight: bold;
    padding: 12px;
    text-align: center;
  }
  
  .detalhes:hover {
    background-color: #0277bd;
  }
  
  footer {
    text-align: center;
    background-color: #eeeeee;
    padding: 15px;
    font-size: 0.9em;
  }
=======
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #058e39;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  header p {
    margin-top: 5px;
    font-style: italic;
  }
  
  main {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  caption {
    background-color: #e3f2fd;
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }
  
  thead th {
    background-color: #067b29;
    color: white;
    padding: 12px;
  }
  
  tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  tfoot td {
    background-color: #eeeeee;
    font-weight: bold;
    padding: 12px;
    text-align: center;
  }
  
  .detalhes:hover {
    background-color: #0277bd;
  }
  
  footer {
    text-align: center;
    background-color: #eeeeee;
    padding: 15px;
    font-size: 0.9em;
  }
>>>>>>> master
  